<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="[SE DEBE ESPECIFICAR EL LENGUAJE]" lang="[SE DEBE ESPECIFICAR EL LENGUAJE]" dir="[SE DEBE ESPECIFICAR LA DIRECCION // ltr (left to right) o rtl (right to left)]">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Banco Nuevo Mundo</title>

    <link href="~/Content/template.css" rel="stylesheet" />
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="bg1" style="width: 100%;
    height: auto;
    display: table;
    background: url(../../Content/images/bg1.jpg) repeat;">
        <div class="main-wrapp">
            <div class="headerBox">
                <div class="logo">
                    <a href="/home/index" target="_self">
                        <!--[ESPECIFICAR LA RUTA AL INICIO DEL PORTAL]-->
                        <!--[SUSTITUIR ARCHIVO "logo.png" POR EL LOGO Y NOMBRE DE LA INSTITUCION]-->
                        <img src="~/Content/images/logo1.png" width="300" height="132" title="[ESPECIFICAR EL NOMBRE DE LA IMAGEN]" alt="[ESPECIFICAR EL ATRIBUTO ALTERNATICO]">
                    </a>
                </div><!--end logo-->
                <div class="headerBoxBox1">
                    <div class="repDom" style="width: 100%;height: 34px;background: url(../../Content/images/repDom.png) no-repeat top right;float: right;margin: 20px 0 0 0;"></div>
                    <div class="pSearch">
                        <!--[COLOCAR BUSCADOR EN ESTA PARTE]-->
                        <div class="search">
                            <input name="search" type="text" id="mod-search-searchword">
                            <input name="search" type="image" src="~/Content/images/searchButton.gif">
                        </div><!--end search-->
                    </div><!--end pSearch-->
                    <div class="navMenu">
                        <!--[COLOCAR EN ESTA PARTE EL MENU DE NAVEGACION FACIL]-->
                        <ul class="menu">
                            <li><a href="/home/index">Inicio</a></li>
                            <li><a href="/home/about">Sobre nosotros</a></li>
                            <li><a href="/home/contact">Contacto</a></li>
                        </ul><!--end menu-->
                    </div><!--end navMenu-->
                </div><!--end headerBoxBox1-->
            </div><!--end headerBox-->

            <div class="menu-h">
                <div class="menu-h-Box" style="width:100%;height:60px;background:url(../../Content/images/menu-h-bg.gif);">
                    <ul class="menu" style="margin:15px;padding-left:280px;">
                        <li><a href="#"></a></li>
                        <li><a href="/Home/Index">Inicio</a></li>
                        <li><a href="/Home/about">Sobre nosotros</a></li>
                        <li class="parent" style="background: url(../../Content/images/parent.png) no-repeat 97% 3px;padding: 0 22px 0 0;">
                            <a href="#">Servicios</a>
                            <ul>
                                <li><a href="/Navegacion/solicitudes">Solicitudes</a></li>
                                @if (Session["admin"] != null)
                                {
                                    <li><a href="/account/login1">Pago de prestamos</a></li>
                                    <li><a href="/Navegacion/Consultas">Consultas</a></li>
                                    <li><a href="/account/login">Mantenimientos</a></li>
                                }
                            </ul>
                        </li>
                        <li><a href="/Home/Contact">Contacto</a></li>
                        <li><a href="#"></a></li>

                    </ul><!--end menu-->
                </div><!--end menu-h-Box-->
            </div><!--end menu-h-->

            <div class="contentBoxMaster">
                <div class="contentBoxMasterBox1">
                    <div class="contentMaster">

                        <div class="container body-content">
                            @RenderBody()
                            <hr />
                        </div>

                    </div><!--end contentMaster-->
                </div><!--end contentBoxMasterBox1-->
            </div><!--end contentBoxMaster-->

        </div><!--end main-wrapp-->
    </div><!--end bg1-->
    <div class="main-wrapp">
        <div class="contentBoxMasterBox1" id="footer">

            <ul id="linesLogos">
                <li id="line" style="width: 1080px; background: url(../../Content/images/footerLines.png); "></li>


            </ul><!--end linesLogos-->

            <div class="clr"></div>

            <ul id="infoFooter">
                <li id="space">&nbsp;</li>
                <li id="info">
                    <a href="#">[BANCO NUEVO MUNDO (BNM)]</a><!--[ESPECIFICAR LA RUTA AL INICIO DEL PORTAL]--><br>
                    [CALLE GUSTAVO MEJIA RICART #145, NACO, SANTO DOMINGO, DISTRITO NACIONAL, RD]<br>
                    [TELEFONOS (809-552-1141) (809-502-1241) FAX (911010008)]<br>
                    <span>&copy; [2020] Todos los Derechos Reservados</span>
                </li><!--end info-->
                <li id="space">
                    <img src="~/Content/images/nortic.png" /><!--[RESERVADO PARA SELLO DE CERTIFICACION DE LA NORTIC A2]-->
                </li>
            </ul><!--end infoFooter-->

        </div><!--end contentBoxMasterBox1-->
    </div><!--end main-wrapp-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
</body>
</html>






@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>

        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home/index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="dropdown open">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                                    Admin <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Videojuegos", "Index", "Videojuegos")</li>
                                    <li>@Html.ActionLink("Generos", "Index", "Generos")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
