@model IEnumerable<BancoNM.Cargos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_compartido.cshtml";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")<br /><br />
    <a href="/navegacion/Mantenimientos_" class="btn btn-success">Volver a los mantenimientos</a>
</p>
<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idCargo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idCargo }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idCargo })
        </td>
    </tr>
}

</table>
