@model IEnumerable<BancoNM.Usuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_compartido.cshtml";
}

    <h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")<br /><br />
    <a href="/navegacion/Mantenimientos_" class="btn btn-success">Volver a los mantenimientos</a>
</p>
<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acceso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acceso)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idUsuario }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idUsuario }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.idUsuario })
        </td>
    </tr>
}

</table>
