@model IEnumerable<BancoNM.CuentaA>

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_compartido.cshtml";
}

<h2>Consulta de cuentas</h2>
@using (Html.BeginForm())
{
    <p>
        Buscar por n&uacute;mero de cuenta: <input type="number" name="numeroCuenta" id="numeroCuenta" placeholder="N. Cuenta" />
        Buscar por estado: <select name="estado" id="estado">
            <option selected="selected">Sin establecer</option>
            <option value="true">Verdadero</option>
            <option value="false">Falso</option>
        </select><br />
        Buscar por moneda:
        <select name="moneda" id="moneda">
            <option>Tipo de moneda</option>
            <option value="1">Peso Dominicano</option>
            <option value="2">Euro</option>
            <option value="3">Dólar Estado Unidense</option>
        </select>
        Buscar por balance disponible: <input type="number" name="balanceDisponible" id="balanceDisponible" placeholder="Balance Disponible" /><br />
        Buscar por balance total: <input type="number" name="balanceTotal" id="balanceTotal" placeholder="Balance Total" />
        Buscar por &uacute;ltimo corte: <input type="date" name="ultimoCorte" id="ultimoCorte" />

    </p>
    <input type="submit" value="Buscar" />
}

<div>
    <br /><a href="/navegacion/Consultas" class="btn btn-success">Volver a las consultas</a><br /><br />
    Para obtener el reporte de la consulta presionar donde dice "PDF"<br />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title"></h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-dark table-bordered display nowrap" style="width:100%;">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.numCuenta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.estado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.balanceDisp)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.balanceTotal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ultimoCorte)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Clientes.cedula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Monedas.descripcion)
                            </th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.numCuenta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.balanceDisp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.balanceTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ultimoCorte)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Clientes.cedula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Monedas.descripcion)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{


    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $('#assets-data-table').DataTable({
                dom: 'Bfrtip',
                buttons: ['pdf'],
                "paging": false,
                searching: false
            });

        });
    </script>


}




