@model IEnumerable<BancoNM.CuentaA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_compartido.cshtml";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")<br /><br />
    <a href="/navegacion/Mantenimientos_" class="btn btn-success">Volver a los mantenimientos</a>
</p>

<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balanceDisp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balanceTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ultimoCorte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monedas.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balanceDisp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balanceTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultimoCorte, "ShortDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monedas.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new { id=item.numCuenta }) |
            @Html.ActionLink("Details", "Detalles", new { id=item.numCuenta }) |
            @Html.ActionLink("Delete", "Borrar", new { id=item.numCuenta })
        </td>
    </tr>
}

</table>
