@model IEnumerable<BancoNM.Clientes>

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_compartido.cshtml";
}

<h2>Consultar clientes</h2>

@using (Html.BeginForm())
{
    <p>
        Buscar por c&eacute;dula del cliente: <input type="text" name="cedulaCliente" id="cedulaCliente">
        Buscar por nombre: <input type="text" name="nombreCliente" id="nombreCliente"><br />
        Buscar por apellido: <input type="text" name="apellidoCliente" id="apellidoCliente">
        Buscar por fecha de nacimiento: <input type="date" name="fechaNacimiento" id="fechaNacimiento" /><br />
        Buscar por n&uacute;mero de tel&eacute;fono: <input type="text" name="telefono" id="telefono" />
        Buscar por correo electr&oacute;nico: <input type="text" name="correoElectronico" id="correoElectronico" /><br />
        Buscar por profesi&oacute;n: <input type="text" name="profesion" id="profesion" />
    </p>
    <input type="submit" value="Buscar" />
}

<div>
    <br /><a href="/navegacion/Consultas" class="btn btn-success">Volver a las consultas</a><br /><br />
    Para obtener el reporte de la consulta presionar donde dice "PDF"<br />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title"></h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-dark table-bordered display nowrap" style="width:100%;">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.cedula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.apellido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.fecha_nac)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.correo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.profesion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nacionalidad.descripcion)
                            </th>

                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cedula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.apellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha_nac)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.correo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.profesion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nacionalidad.descripcion)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{


    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $('#assets-data-table').DataTable({
                dom: 'Bfrtip',
                buttons: ['pdf'],
                "paging": false,
                searching: false
            });

        });
    </script>


}




