@model IEnumerable<BancoNM.PagoPrestamos>

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_compartido.cshtml";
}

<h2>Consulta de pagos de pr&eacute;stamos</h2>

@using (Html.BeginForm())
{
    <p>
        Buscar por fecha de pago: <input type="date" name="fechaPago" id="fechaPago" />
        Buscar por cuota: <input type="number" name="cuota" id="cuota" /><br />
        Buscar por capital: <input type="number" name="capital" id="capital" />
        Buscar por interes: <input type="number" name="interes" id="interes" /><br />
        Buscar por balance: <input type="number" name="balance" id="balance" />
        Buscar por c&eacute;dula del cliente: <input type="text" name="idCliente" id="idCliente" /><br />

        <input type="submit" value="Buscar" />
    </p>
}

<div>
    <br /><a href="/navegacion/Consultas" class="btn btn-success">Volver a las consultas</a><br /><br />
    Para obtener el reporte de la consulta presionar donde dice "PDF"<br />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title"></h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-dark table-bordered display nowrap" style="width:100%;">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.fechaPago)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cuota)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.capital)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.interes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.balance)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Clientes.cedula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prestamos.idPrestamo)
                            </th>
                          
                        </tr>


                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaPago)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cuota)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.capital)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.interes)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.balance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Clientes.cedula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prestamos.idPrestamo)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $('#assets-data-table').DataTable({
                dom: 'Bfrtip',
                buttons: ['pdf'],
                "paging": false,
                searching: false
            });

        });
    </script>


}




